<!DOCTYPE html>
<html lang="pt-br">

<head>
	<meta charset="utf-8" />
	<title>Notícias</title>
</head>

<body>

	<h1>Notícias</h1>
	<div>
		<% for(var i=0; i < noticias.length; i++) { %>
			<div>
				<h3><%= noticias[i].titulo %></h3>
				<span><%= noticias[i].id %></span>
				<p><%= noticias[i].noticia %></p>
			</div>
		<% } %>
	</div>
</body>

</html>